<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello django</h1>
    <h2>Employee list </h2>
    {% if not emplist %}
        <p>No employee found</p>
    {% else %}
        <table border="1">
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
                <th>Address</th>
            </tr>
            {% for emp in emplist %}
                <tr>
                    <td>{{emp.ename}}</td>
                    <td>{{emp.esal}}</td>
                    <td>{{emp.eadd}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    
</body>
</html>