<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    {%block titleblock%}
    <title>index</title>
    {%endblock titleblock%}
  </head>
  <body>
    <div class="container">
    {%block bodyblock%}
        <h2>welcome to index page</h2>
<a href="/register" class="btn btn-success" style="text-decoration: none;">
    register
</a>

    {%endblock bodyblock%}

    </div>

  </body>
</html>
<!-- 
# #first type = run this comanda in python shell
#  from app import app,db
# app.app_context().push()
# db.create_all()

# # second type = run this comanda in python shell
#  from app import app,db,User
#  u-User(username="vishal",email="lvishal108@gmail.com",password="Python@8788")
#  db.session.add(u)
#  db.session.commit()
# u-User.query.all() -->
