<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <pre>
        <h3 style="color:red"> Detail of {{beer.name}} 
            <hr>
            price : {{beer.price}}
            color : {{beer.color}}
            quantity : {{beer.quantity}}

            
        </h3>
    </pre>
    <a href="/update/{{beer.id}}">update</a>
    <a href="/delete/{{beer.id}}">delete</a>
  </body>
</html>
